/*-------------------------------------      HEADER, INICIO   ----------------------------------------*/
/*-------------------------------------      HEADER, FIN      ----------------------------------------*/

/*-----------------------------      PROPIEDADES GENERALES, INICIO    --------------------------------*/
main{
    width: 100vw;
    min-width: 480px;
    background-color: #FFF;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    overflow: auto;
  }
/*------------------------------      PROPIEDADES GENERALES, FIN     ---------------------------------*/

/*-------------------------------------      HOME, INICIO     ----------------------------------------*/
/*-------------------------------------      HOME, FIN        ----------------------------------------*/


/*-------------------------------------      INFORMACION, INICIO  ------------------------------------*/
/*-------------------------------------      INFORMACION, FIN  ---------------------------------------*/


/*-------------------------------------      TURISMO, INICIO  ----------------------------------------*/
/*-------------------------------------      TURISMO, FIN     ----------------------------------------*/


/*-------------------------------------      CONTACTO, INICIO   --------------------------------------*/
/*-------------------------------------      CONTACTO, FIN    ----------------------------------------*/


/*-------------------------------------      GRACIAS, INICIO   ---------------------------------------*/

#gracias {
    width: 480px;
    background-image: url("../imagenes/gracias-background-mb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 661px;
    padding-top: 50px;
}

.bloque-blanco-transp{
    color: #FFF;
    text-align: center;
    text-shadow: 4px 2px #000;
    padding: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 300px;
    height: 250px;
}

.h2-mobile {
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
}
    

/*--------------------------------------     GRACIAS, FIN   ------------------------------------------*/


/*-------------------------------------      FOOTER, INICIO   ----------------------------------------*/
/*-------------------------------------      FOOTER, FIN      ----------------------------------------*/