/*-------------------------------------      HEADER, INICIO   ----------------------------------------*/

#logo {
    padding: 0px;
    margin-left: 10%;
}

nav {
    background-image: url(../imagenes/mobile/menu_lines_hamburger_icon.png);
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 35%;
}

.menu {
    display: none;
    margin-top: 87px;
    background-color: var(--new-light-blue);
}

nav:checked .menu{
    display: block;
}

header nav ul li{
    padding-left: 10px;
    font-size: 15px;
}

header nav ul:last-child{
    padding-bottom: 10px;
}

/*-------------------------------------      HEADER, FIN      ----------------------------------------*/

/*-----------------------------      PROPIEDADES GENERALES, INICIO    --------------------------------*/
main{
    width: 100vw;
    min-width: 480px;
    background-color: #FFF;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    overflow: auto;
  }
/*------------------------------      PROPIEDADES GENERALES, FIN     ---------------------------------*/

/*-------------------------------------      HOME, INICIO     ----------------------------------------*/
#inicio{
    width: 100vw;
    background-image: url("../imagenes/mobile/fondo-inicio-mb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 600px;
  }
/*-------------------------------------      HOME, FIN        ----------------------------------------*/


/*-------------------------------------      INFORMACION, INICIO  ------------------------------------*/
/*-------------------------------------      INFORMACION, FIN  ---------------------------------------*/


/*-------------------------------------      TURISMO, INICIO  ----------------------------------------*/
/*-------------------------------------      TURISMO, FIN     ----------------------------------------*/


/*-------------------------------------      CONTACTO, INICIO   --------------------------------------*/
/*-------------------------------------      CONTACTO, FIN    ----------------------------------------*/


/*-------------------------------------      GRACIAS, INICIO   ---------------------------------------*/

#gracias {
    width: 480px;
    background-image: url("../imagenes/mobile/gracias-background-mb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 661px;
    padding-top: 50px;
}

.bloque-blanco-transp{
    color: #FFF;
    text-align: center;
    text-shadow: 4px 2px #000;
    padding: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 300px;
    height: 250px;
}

.h2-mobile {
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
}
    

/*--------------------------------------     GRACIAS, FIN   ------------------------------------------*/


/*-------------------------------------      FOOTER, INICIO   ----------------------------------------*/
/*-------------------------------------      FOOTER, FIN      ----------------------------------------*/